---
layout: markdown_page
title: "Group Direction - AI Model Validation"
description: "Research and Evaluate AI/ML models for use to enrich the GitLab product with Generative AI"
canonical_path: "/direction/ai-powered/ai_model_validation/"
---

## On this page
{:.no_toc}

- TOC
{:toc}


## Overview
Enabling Excellence in AI Model Evaluation: Illuminating the Potential of Generative AI Models

Our vision is to establish a comprehensive and cutting-edge framework that empowers users to evaluate and unlock the full potential of GenAI models, including offerings from Google, Anthropic, OSS community, and beyond. By providing a unified platform with advanced evaluation tools, actionable insights, and ethical considerations, we aim to foster trust, transparency, and continual improvement in AI technologies.

### Categories 
This group consists of the following categories: 

- [AI Research](/direction/ai-powered/ai_model_validation/ai_research): Identifies and explores AI/ML models to support use cases other GitLab sections, stages, groups are developing to enrich the DevSecOps experience for GitLab users. 
- [AI Evaluation](/direction/ai-powered/ai_model_validation/ai_evaluation): An automated and scalable AI/ML model evaluation tool focused on exercising and testing various model performance, quality of outputs, and accuracy against specific inputs. 

## Focus
In 2023 the AI Model Validation group started laying the foundation to evaluate Large language models to help ML/AI powered features to be built in GitLab. We started out of a need to test Code Suggestions, but have quickly expanded to other use cases like multi-turn conversations (Chat), and specialized data evaluations like vulnerability data. 

<p align="center">
    <i><br>
    Last Reviewed: 2024-01-30<br>
    Last Updated: 2024-01-30
    </i>
</p>